*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #00bcd3;
}
header .logo{
    padding: 20px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
    color: #fff;
}
header .logo img{
    padding-right: 20px;
}
header .menu{
    margin-right: 30px;
}
header .menu nav ul{
    display: flex;
    padding: 20px;
    
}
.menu nav ul li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
    
    
}
.menu nav ul li a{
    text-decoration: none;
    color: #fff;
}